<footer class="footer">
	<div class="row no-margin">
		<div class="col-s-2">
			<h4>minstyle.io</h4>

			<ul>
				<li><a href="">Contribute</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</div>
		<div class="col-s-2">
			<h4>Help</h4>

			<ul>
				<li><a href="">Open an issue</a></li>
				<li><a href="">How contribute</a></li>
				<li><a href="">Documentation</a></li>
			</ul>
		</div>
		<div class="col-s-2">
			<h4>Information</h4>

			<ul>
				<li><a href="">Licence</a></li>
			</ul>
		</div>
		<div class="col-s-6 text">
			<p>
				<a href="">minstyle.io</a> is an open source under MIT licence, created by <a href="">@airmime</a> with heart in <a href="http://www.saint-etienne.fr" target="_blank">European Capital of Design</a>.
			</p>
		</div>
	</div>
</footer>