<footer class="footer">
	<div class="row no-margin">
		<div class="col-s-2">
			<h4>minstyle.io</h4>

			<ul>
				<li><a href="https://github.com/Airmime/minstyle.io" target="_blank">Contribute</a></li>
				<li><a href="https://twitter.com/remi_mrn" target="_blank">Contact</a></li>
			</ul>
		</div>
		<div class="col-s-2">
			<h4>Help</h4>

			<ul>
				<li><a href="https://github.com/Airmime/minstyle.io/issues" target="_blank">Open an issue</a></li>
				<li><a href="/doc">Documentation</a></li>
			</ul>
		</div>
		<div class="col-s-2">
			<h4>Information</h4>

			<ul>
				<li><a href="https://github.com/Airmime/minstyle.io/blob/master/LICENSE" target="_blank">Licence</a></li>
				<li>&nbsp;</li>
				<li><p>This website is designed with minstyle.io</p></li>
			</ul>
		</div>
		<div class="col-s-6 text">
			<p>
				<a href="https://remi-marion.fr" target="_blank">minstyle.io</a> is an open source CSS framework, under MIT licence, created by <a href="https://twitter.com/remi_mrn" target="_blank">@airmime</a> with <i class="fas fa-heart"></i> in <a href="https://en.unesco.org/creative-cities/saint-Étienne" target="_blank">European Capital of Design</a>.
			</p>
		</div>
	</div>
</footer>