<div class="left-menu">
	<input type="text" placeholder="Search..." id="Search" class="ms-rounded">

	<div class="row">
		<h2>Get started</h2>
		<ul class="ms-list ms-list-none">
			<li><a href="/doc/get-started">Get started</a></li>
		</ul>
	</div>

	<div class="row">
		<h2>Font</h2>
		<ul class="ms-list ms-list-none">
			<li><a href="">Typographie</a></li>
			<li><a href="">Content</a></li>
			<li><a href="">Heading</a></li>
		</ul>
	</div>

	<div class="row">
		<h2>CSS Components</h2>
		<ul class="ms-list ms-list-none">
			<li><a href="">Buttuns</a></li>
			<li><a href="">Blockquote</a></li>
			<li><a href="">Table</a></li>
			<li><a href="">Alert</a></li>
			<li><a href="">List</a></li>
			<li><a href="">Form</a></li>
			<li><a href="">Heading</a></li>
			<li><a href="">Badge</a></li>
			<li><a href="">Progress Bar</a></li>
		</ul>
	</div>

	<div class="row">
		<h2>CSS Elements</h2>
		<ul class="ms-list ms-list-none">
			<li><a href="">Card</a></li>
			<li><a href="">Menu</a></li>
			<li><a href="">Box</a></li>
		</ul>
	</div>
</div>