<div class="left-menu">
	<input type="text" placeholder="Search..." id="Search" class="ms-rounded">

	<div class="row">
		<h2>Get started</h2>
		<ul class="ms-list ms-list-none">
			<li><a href="/doc/get-started">Get started</a></li>
			<li><a href="/doc/grid-responsive">Grid Responsive</a></li>
		</ul>
	</div>

	<div class="row">
		<h2>Font</h2>
		<ul class="ms-list ms-list-none">
			<li><a href="/doc/google-font">Google Font</a></li>
			<li><a href="/doc/typographie">Typographie</a></li>
			<li><a href="/doc/heading">Heading</a></li>
		</ul>
	</div>

	<div class="row">
		<h2>CSS Components</h2>
		<ul class="ms-list ms-list-none">
			<li><a href="/doc/buttons"><i class="fas fa-mouse-pointer"></i> <%=translation.BUTTONS%></a></li>
			<li><a href="/doc/blockquotes">Blockquote</a></li>
			<li><a href="/doc/tables">Table</a></li>
			<li><a href="/doc/alerts">Alerts</a></li>
			<li><a href="/doc/lists">Lists</a></li>
			<li><a href="/doc/forms">Forms</a></li>
			<li><a href="/doc/badges">Badges</a></li>
			<li><a href="/doc/progress-bar">Progress Bar</a></li>
		</ul>
	</div>

	<div class="row">
		<h2>CSS Elements</h2>
		<ul class="ms-list ms-list-none">
			<li><a href="/doc/cards">Cards</a></li>
			<li><a href="/doc/menu">Menu</a></li>
			<li><a href="/doc/box">Box</a></li>
		</ul>
	</div>
</div>