<div class="row no-margin">
	<div class="ms-float-left">
		<img src="img/logo.png" alt="Logo" class="logo">
	</div><!-- /logo -->

	<div class="ms-menu ms-float-right">
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/documentation">Documentation</a></li>
			<li><a href="https://github.com/Airmime/minstyle.io/issues" target="_blank">Support</a></li>
			<li><a href="https://github.com/Airmime/minstyle.io" target="_blank">Contribute <i class="fab fa-github"></i></a></li>
		</nav>
	</div>
</div><!-- /row -->