<div class="row no-margin">
	<div class="ms-float-left">
		<a href="/"><img src="/img/logo.png" alt="Logo" class="logo"></a>
	</div><!-- /logo -->

	<div class="ms-menu ms-float-right">
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/doc">Documentation</a></li>
			<li><a href="https://github.com/Airmime/minstyle.io/issues" target="_blank">Support</a></li>
			<li><a href="https://github.com/Airmime/minstyle.io" target="_blank">Contribute <i class="fab fa-github"></i></a></li>
			<li>
				<a href="/?clang=fr" style="padding:0;">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAAAAXNSR0IArs4c6QAAAXxJREFUKBVNUjtOxDAUHCdLARLbIKRdUXEBxAEQHAGJE2xFS0GDREdHQ8kxOADn4AjQ0kBI4s8zMy8baRNZz048v2eH+9ePip3HkuHueolSCsZx9JpzRggBp1fnsB7IkYMY41gIe3O5VkG1CuNYrQ5R68Srama+3nt+QU0JFqPX74eniQDc+/OXqDZt7rrOATNY6nK0/PokeECNI3B07C4alElZ4EKlzNo0jRMIOM/lwmIPYywjQaULj5CzObAUVoKzFQc7UCBGmuMIXJ0gIpCErcBijNk3iSARUNidtm09tys0bJYFb6INJEhyQAI21v9HOpDtRAJVOZLi7lB+XzN/UQPHhGaMk4OBDjx73pKkMqnTjUACe/5Kdw4eYDwJZJ6GIvRDdtUkJ7lA1QGefzsn2L8NPAEBSRC4V3dh0ZFVtg/2W8+fc+N51cT5CZU94NuuTmC6VCWhlukUwsXte+3oou8jVH9Z3x7XiCROVIyMoPnA+dlm47bnWyiBf9QIfUcWe3LuAAAAAElFTkSuQmCC" alt="Fr">
				</a>
				<a href="/?clang=en" style="padding:0;">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAAAAXNSR0IArs4c6QAAAjVJREFUKBWFkl1Ik2EUx3/vsCAUwmkkmErhTAsHBWqQy1ilFKFEKISOssQhXdRN0C7ETIjSMJBIBJNuRKNFRCh14aBJmCSl4kfKxDBqSq7sQ7e593mfnq2gG6EDh+d/zuFwfufwaG0dHplVaGXQO8vSMsoEwhBcrcpl4sZdpBDk1l/icuswMmJidS1EmmUL9tF+5k9WEGfemkCJz0Oxs5y5j6sMvfMjpIZlp5msffGwHkYqfTw/jYguKNybRJ63A9zNtPVNY/L4ggykHEXr6SXzwzCOskz8/jCapmDG5mDcF9MLAYlzkw/rYC/alSYePJ7h1vXXmKLQn/zfaFi2siB2IZqu4arbE01D8KfyYEy2zLcTX1zIzKnz2E/0MvH+B6FwGGbmAtIw5MZWXi5laemGtWjPyNSS1NzV9fL0frXrmA8iEbXz+r/XMJBqiq5yUrmh6ka0rg4bl53K7ZFf/yGw2aSef+AvwR9MIYTUhS4jui6HJxelqbbxFa1do1Q6XzA5tQJfA6zXnIvtLVeDMYJYgOTzETvezufsSO/iTM0zCg41YQqFdLYnbaa7o4QM9x2+3+/iQqIz1mMo/Cg6UnLwcA/JAx7ytEVGj3mx5mWAoWOqclioLMsmdNPFeJGDxrUCzAki2oOWk6o8RWlJ2m4zVWfdDObY2NbZSd2bBi5W24jzfwlwr7iWJ5Yi3na/VJ8liK6OVF1hoX9oBanrlEwv8/DpgJooeNTnJTk9EVdLM7Oudn4DgFRj/Gkxm0EAAAAASUVORK5CYII=" alt="en">
				</a>
			</li>
		</nav>
	</div>
</div><!-- /row -->