<div class="row no-margin">
	<div class="ms-float-left">
		<a href="/"><img src="/img/logo.png" alt="Logo" class="logo"></a>
	</div><!-- /logo -->

	<div class="ms-menu ms-float-right">
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/doc">Documentation</a></li>
			<li><a href="https://github.com/Airmime/minstyle.io/issues" target="_blank">Support</a></li>
			<li><a href="https://github.com/Airmime/minstyle.io" target="_blank">Contribute <i class="fab fa-github"></i></a></li>
			<li>
				<a href="/?clang=fr" style="padding:0;">
					Fr
				</a>
				<span style="color: white">|</span>
				<a href="/?clang=en" style="padding:0;">
					En
				</a>
			</li>
		</nav>
	</div>
</div><!-- /row -->