.box{
	margin-top: 20px;
	padding-left: 10px;

	.left-menu{
		h2{
			font-size: 1.4rem;
			color: #41535c;
		}

		ul{
			margin: 0;
		}

		a{
			color: #8f8f8f;
			text-decoration: none;
		}

		.row{
			margin-bottom: 20px;
		}
	}
}