footer,
.footer{
	border-top: 1px solid #e3e3e3;
	margin-top: 35px;
	padding: 30px 0;

	h4{
		font-size: 1.1rem;
		color: #a5a5a5;
	}

	p{
		font-size: 0.9em;
		color: #6b6b6b;
	}

	a{
		font-size: 0.9em;
		text-decoration: none;
		color: #6b6b6b;
	}

	.text{
		a{
			color: #1dabe7;
		}
	}
}