.started{
	margin-top: 30px;

	.npm{
		width: 100%;
		max-width: 775px;
		height: 50px;
		background-color: #e3e3e3;
		overflow: hidden;
		@include border-radius(40px);
		margin: 0 auto;

		.icon{
			float:left;
			width: 60px;
			height: 50px;
			background-color: #1dabe7;
			color: #fff;
			text-align: center;
			font-size: 1.5rem;
			line-height: 50px;
		}

		.command{
			float: left;
			line-height: 50px;
			font-size: 1.2rem;
			font-weight: 700;
			padding: 0 0 0 10px;
		}

		h4{
			font-size: 1.3rem;
		}
	}

	.download{
		margin-bottom: 10px;
	}

	.ms-box .ms-content .ms-text p {
		line-height: 1.9rem;
		font-size: 1.1rem;
	}

	.doc{
		margin-top: 35px;
		font-weight: 700;
	}
}

