.background{
	position:absolute;
	top:0;
	left:0;
	right: 0;
    height: 700px;
	@include background-image(linear-gradient(to right, #2193b0, #6dd5ed));
}	

header, .header{
	position:relative;
	width: 100%;
	z-index: 999;

	.logo{
		margin: 1rem;
	}

	.ms-menu{

		margin: 2rem 1rem;

		a{
			color: #fff;
			font-weight: 500;
			font-size: 1rem;
		}
	}

	.intro{
		.ms-box{
			.ms-text{
				p{
					font-size: 1.2rem;
					line-height: 1.9rem;
					font-weight: 300;
				}
			}
		}
	}

	.sublime{
		background-color: #263238;
		@include border-radius(4px);
		overflow: hidden;

		.sublime-header{
			background-color: #d9d7d9;
			height: 22px;

			ul{
				list-style: none;

				li{
					float: left;
					margin: 4px 0 0 7px;

					.round{
						display: block;
						width: 12px;
						height: 12px;
						background-color: #fff;
						@include border-radius(40px);
					}
				}
			}
		}

		.files{
			padding: 1rem;
			box-sizing: border-box;

			ul{
				list-style: none;

				li{
					font-size: 0.8rem;
					color: #fff;
					margin-bottom: 5px;
				}
			}
		}

		.coding{
			margin: 1rem 0;
			border-left: 2px solid #37474f;
			display: block;
			width: 100%;
		}
	}
}