/* GLOBAL */
/* IMPORT - WEBSITE */
.background { position: absolute; top: 0; left: 0; right: 0; height: 700px; background-image: -owg-linear-gradient(to right, #2193b0, #6dd5ed); background-image: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); background-image: -moz-linear-gradient(to right, #2193b0, #6dd5ed); background-image: -o-linear-gradient(to right, #2193b0, #6dd5ed); background-image: linear-gradient(to right, #2193b0, #6dd5ed); }

header, .header { position: relative; width: 100%; z-index: 999; }

header .logo, .header .logo { margin: 1rem; }

header .ms-menu, .header .ms-menu { margin: 2rem 1rem; }

header .ms-menu a, .header .ms-menu a { color: #fff; font-weight: 500; font-size: 1rem; }

header .intro .ms-box .ms-text p, .header .intro .ms-box .ms-text p { font-size: 1.2rem; line-height: 1.9rem; font-weight: 300; }

header .sublime, .header .sublime { background-color: #263238; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; overflow: hidden; }

header .sublime .sublime-header, .header .sublime .sublime-header { background-color: #d9d7d9; height: 22px; }

header .sublime .sublime-header ul, .header .sublime .sublime-header ul { list-style: none; }

header .sublime .sublime-header ul li, .header .sublime .sublime-header ul li { float: left; margin: 4px 0 0 7px; }

header .sublime .sublime-header ul li .round, .header .sublime .sublime-header ul li .round { display: block; width: 12px; height: 12px; background-color: #fff; -webkit-border-radius: 40px; -moz-border-radius: 40px; -ms-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px; }

header .sublime .files, .header .sublime .files { padding: 1rem; box-sizing: border-box; }

header .sublime .files ul, .header .sublime .files ul { list-style: none; }

header .sublime .files ul li, .header .sublime .files ul li { font-size: 0.8rem; color: #fff; margin-bottom: 5px; }

header .sublime .coding, .header .sublime .coding { margin: 1rem 0; border-left: 2px solid #37474f; display: block; width: 100%; }

.started { margin-top: 30px; }

.started .npm { width: 100%; max-width: 675px; height: 50px; background-color: #e3e3e3; overflow: hidden; -webkit-border-radius: 40px; -moz-border-radius: 40px; -ms-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px; margin: 0 auto; }

.started .npm .icon { float: left; width: 60px; height: 50px; background-color: #1dabe7; color: #fff; text-align: center; font-size: 1.5rem; line-height: 50px; }

.started .npm .command { float: left; line-height: 50px; font-size: 1.2rem; font-weight: 700; padding: 0 0 0 10px; }

.started .ms-box .ms-content .ms-text p { line-height: 1.9rem; font-size: 1.1rem; }

.started .doc { margin-top: 35px; font-weight: 700; }

body { font-family: 'Nunito', sans-serif; color: #263238; }

footer, .footer { border-top: 1px solid #e3e3e3; margin-top: 35px; padding: 30px 0; }

footer h4, .footer h4 { font-size: 1.1rem; color: #a5a5a5; }

footer p, .footer p { font-size: 0.9em; color: #6b6b6b; }

footer a, .footer a { font-size: 0.9em; text-decoration: none; color: #6b6b6b; }

footer .text a, .footer .text a { color: #1dabe7; }
