p{
    font-size: 1rem;
    line-height: 1.6rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    word-spacing: 0.05rem;
    font-weight: 400;
}

pre{
    font-size: 1.1rem;
}

table{
    display: table;
    border: none;
}

table th, table tr, table td{
    border: none;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: inherit;
}

blockquote{
    background-color: inherit;
}

hr{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    margin: 1rem 0;
}

.fixedHeaderContainer header h3{
    color: #34495e;
    text-decoration: none;
}

.blog .wrapper {
    max-width: 1400px;
}

code,.ms-code{
    background-color: #fdf0f0;
    color: #e04540;
    font-size: 90%;
    font-family: Courier, monospace;
    padding: 0.1rem 0.2rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.wrapper{
    max-width: 1400px;
}

.fixedHeaderContainer{
    background-color: #f3f3f3; 
}

.hljs{
    background-color: #f3f3f3;
    margin: 1.5rem 0;
}

.navigationSlider .slidingNav ul li a{
    color: #34495e;
    font-weight: 500;
    margin: 0 0.1rem;
}
.navigationSlider .slidingNav ul li > a:focus, .navigationSlider .slidingNav ul li > a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive > a, .navigationSlider .slidingNav ul li.siteNavGroupActive > a{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #e04540;
    background-color: transparent;
}
input#search_input_react{
    background-color: #fff;
    color: #34495e;
}
input#search_input_react:active {
    color: #34495e;
}
input#search_input_react:focus {
    color: #34495e;
    box-shadow: none;
}
input#search_input_react::placeholder {
    color: #e1e1e1;
}
.navSearchWrapper:before {
    display: none;
}
.navSearchWrapper:after{
    display: none;
}
.reactNavSearchWrapper input#search_input_react {
    padding-left: 12px;
}

/* Footer */
.ms-footer{
    background-color: #fff;
    padding: 2rem 0;
}
.ms-footer span{
    color: #69798a;
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.ms-footer .copyright{
    color: #69798a;
    font-size: 0.8rem;
    line-height: 1.6rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.ms-footer .switch-theme{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    background-color: #f3f3f3;
    text-align: center;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .reactNavSearchWrapper input#search_input_react {
        background-color: #fff;
        color: #34495e;
    }
}

@media only screen and (max-width: 1023px) {
    .reactNavSearchWrapper input#search_input_react {
        background-color: #fff;
        color: #34495e;
    }
    
    .navigationSlider .slidingNav ul li a {
        font-size: 1rem;
    }
    
    .navSearchWrapper {
        right: 8px;
        top: 8px;
    }
    
    .navigationSlider .slidingNav ul li > a:focus, .navigationSlider .slidingNav ul li > a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive > a, .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
        color: #e04540;
    }
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6{
        color: rgba(255, 255, 255, 1);
    }

    body{
        background-color: #25282c;
        color: rgba(255, 255, 255, 0.8);
    }

    .fixedHeaderContainer{
        background-color: #111417;
        color: rgba(255, 255, 255, 0.9);
    }

    .navigationSlider .slidingNav ul li a, .fixedHeaderContainer header h3{
        color: rgba(255, 255, 255, 0.9);
    }

    .toc .toggleNav .navGroup .navGroupCategoryTitle{
        color: rgba(255, 255, 255, 0.9);
    }

    .toc .toggleNav ul li a {
        color: rgba(255, 255, 255, 0.7);
    }

    .hljs{
        background-color: #111417;
    }

    blockquote{
        color: rgba(255, 255, 255, 0.9);
        background-color: #111417;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .onPageNav > .toc-headings{
        border-left: 1px solid rgba(255, 255, 255, 0.15);
    }

    .onPageNav a{
        color: rgba(255, 255, 255, 0.7);
    }

    code,.ms-code{
        background-color: #e04540;
        color: #fff;

    }

    hr{
        background-color: rgba(255, 255, 255, 0.15);
    }

    .ms-footer{
        background-color: #111417;
    }

    .ms-footer span, .ms-footer .copyright{
        color: rgba(255, 255, 255, 0.25);
    }

    .ms-footer .switch-theme{
        background-color: #111417;
    }
}