
body{
    color: #34495e;
}

p{
    color: #34495e;
    font-size: 1rem;
    line-height: 1.6rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    word-spacing: 0.05rem;
    font-weight: 400;
}

table{
    display: table;
    border: none;
}

table th, table tr, table td{
    border: none;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: inherit;
}

blockquote{
    background-color: inherit;
}

hr{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    margin: 1rem 0;
}

.fixedHeaderContainer header h3{
    color: #34495e;
    text-decoration: none;
}

code,.ms-code{
    background-color: #fdf0f0;
    color: #e04540;
    font-size: 90%;
    font-family: Courier, monospace;
    padding: 0.1rem 0.2rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.wrapper{
    max-width: 1400px;
}

.fixedHeaderContainer{
    background-color: #f3f3f3; 
}

.hljs{
    background-color: #f3f3f3;
    margin: 1.5rem 0;
}

.navigationSlider .slidingNav ul li a{
    color: #34495e;
    font-weight: 500;
    margin: 0 0.1rem;
}
.navigationSlider .slidingNav ul li > a:focus, .navigationSlider .slidingNav ul li > a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive > a, .navigationSlider .slidingNav ul li.siteNavGroupActive > a{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #e04540;
    background-color: transparent;
}
input#search_input_react{
    background-color: #fff;
    color: #34495e;
}
input#search_input_react:active {
    color: #34495e;
}
input#search_input_react:focus {
    color: #34495e;
    box-shadow: none;
}
input#search_input_react::placeholder {
    color: #e1e1e1;
}
.navSearchWrapper:before {
    display: none;
}
.navSearchWrapper:after{
    display: none;
}
.reactNavSearchWrapper input#search_input_react {
    padding-left: 12px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .reactNavSearchWrapper input#search_input_react {
        background-color: #fff;
        color: #34495e;
    }
}

@media only screen and (max-width: 1023px) {
    .reactNavSearchWrapper input#search_input_react {
        background-color: #fff;
        color: #34495e;
    }
    
    .navigationSlider .slidingNav ul li a {
        font-size: 1rem;
    }
    
    .navSearchWrapper {
        right: 8px;
        top: 8px;
    }
    
    .navigationSlider .slidingNav ul li > a:focus, .navigationSlider .slidingNav ul li > a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive > a, .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
        color: #e04540;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}