/* Variables */
html{
    --defautl-bg-darker: #f3f3f3;
    --default-font-color: rgba(0,0,0,.85);
    --default-font-color-title: rgba(0, 0, 0, 0.9);
    --default-font-color-link: rgba(0, 0, 0, 0.7);
    --default-bg-code: #fdf0f0;
    --default-font-color-code: #e04540;
    --default-bg-blockquote: transparent;
    --default-color-border_sidbar: #e0e0e0;
}

html[data-theme='dark'] {
    --defautl-bg-darker: #111417;;
    --default-font-color: #ffffff;
    --default-font-color-title: rgba(255, 255, 255, 0.9);
    --default-font-color-link: rgba(255, 255, 255, 0.7);
    --default-bg-code: #e04540;
    --default-font-color-code: #ffffff;
    --default-bg-blockquote: var(--defautl-bg-darker);
    --default-color-border_sidbar: rgba(255, 255, 255, 0.15);
}

/* Home */
.welcome{
    margin: 5rem 0;
    padding: 0 30px;
}
.welcome .color{
    color: #fa4d60;
}
.welcome h1{
    font-size: 2rem;
    line-height: 2rem;
    text-align: right;
    margin-top: 1rem;
}
.welcome h2{
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: right;
    margin-bottom: 3rem;
}
.welcome p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: right;
}
.picture{
    margin: 8rem 0;
    padding: 0 30px;
}
.home-version{
    font-size: 12px;
}

.actions{
    background-color: var(--defautl-bg-darker);
}
.actions .ms-card{
    text-align: center;
    margin: 2rem 0;
}
.actions .ms-card i{
    text-align: center;
    color: #fa4d60;
}